.about {
    padding-top: 100px;
    padding-bottom: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__heading {
        font-size: 35px;
        font-weight: 700;
    }
    &__subheading {
        width: 40%;
        margin: auto;
        text-align: center;
        padding: 30px 0 50px 0;
        color: #777;
    }
    &__video {
        position: relative;
        img {
            width: 60%;
            margin: auto;
        }
        i {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__wave {
        position: absolute;
        left: 0;
        pointer-events: none;
        width: 100%;
        z-index: 3;
        svg {
            width: 100%;
            height: 400px;
            left: 0;
            position: absolute;
            transform: translateY(-30%) scaleY(-1);
            color: #6442ff;
        }
    }
}