.banner__all {
    padding-top: 100px;
    background: linear-gradient(to left, #6442ff 0%, #9012fe 100%);
}

.banner {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__img {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__wave {
        position: absolute;
        left: 0;
        pointer-events: none;
        width: 100%;
        z-index: 3;
        svg {
            width: 100%;
            height: 300px;
            left: 0;
            position: absolute;
            transform: translatey(-100%);
        }
    }
    &-heading {
        font-size: 65px;
        font-weight: 700;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    &-subheading {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        padding-bottom: 30px;
    }
    &-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 0;
        button {
            width: 150px;
            height: 50px;
            font-size: 17px;
            font-weight: 700;
            margin-right: 20px;
        }
        &-buy {
            color: white;
            background-color: #e9168c;
            border: none;
            outline: none;
        }
        &-more {
            background-color: white;
            color: black;
            border: 1px solid white;
            outline: none;
            &:hover {
                background-color: #8644de;
                color: white;
            }
        }
    }
}

@media(max-width:768px) {
    .banner {
        padding-top: -100px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 40px;
    }
    .banner-heading {
        font-size: 40px;
    }
    .banner-button button {
        margin-bottom: 20px;
    }
}

@media(max-width:374px) {
    .header__banner-heading {
        font-size: 45px;
    }
    .header__banner-button {
        display: block;
    }
}