.modal__all {
    background-color: #1b1d1f;
    position: relative;
}

.modal {
    width: 100%;
    margin-top: 100px;
    transform: translateY(-40%);
    a {
        display: block;
        width: 70%;
        img {
            width: 100%;
        }
    }
    &__overlay {
        position: relative;
        &-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #e9168c;
            i {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
        &:hover &-overlay {
            opacity: 0.9;
        }
    }
}