.portfolio {
    padding: 100px 0 170px 0;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        &-date {
            font-size: 13px;
            font-weight: 500;
        }
        &-heading {
            padding-top: 20px;
            padding-bottom: 30px;
            font-size: 30px;
            font-weight: 700;
        }
        &-subheading {
            font-size: 17px;
            color: #777;
        }
    }
}