.product {
    padding-top: 100px;
    padding-bottom: 200px;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 50px;
        &-title {
            font-size: 20px;
            font-weight: 700;
            padding-top: 30px;
            padding-bottom: 15px;
        }
        &-description {
            font-size: 15px;
            color: #777;
        }
    }
    &__wave {
        position: absolute;
        left: 0;
        pointer-events: none;
        width: 100%;
        svg {
            width: 100%;
            height: 300px;
            left: 0;
            position: absolute;
            transform: translateY(0%);
        }
    }
}