ul,
ol {
    list-style: none;
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
}

button {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.containers {
    width: 94%;
    margin: auto;
}

.up {
    position: fixed;
    z-index: 1000000000;
    top: 90%;
    right: 2%;
}

.up button {
    background-color: #50b68d;
    color: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
}

img {
    vertical-align: middle;
}

.box-zoom-out {
    border: none;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 200px;
}

.box-zoom-out img {
    max-width: 100%;
    transition: all 1s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.box-zoom-out:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}