.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    width: 100%;
    z-index: 100;
    @include breakpoint(768) {
        padding: 20px 0;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menu.show {
        max-height: 100vh;
        transition: 0.5s;
        z-index: 100000;
        padding-left: 60px;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        @include breakpoint(768) {
            z-index: 100000000;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: black;
            color: white;
            line-height: 50px;
            max-height: 0;
            overflow: hidden;
            transition: .5s;
            padding: 0px;
        }
        &-item {
            padding: 20px 25px 20px 0;
            &:hover {
                cursor: pointer;
                color: #ba97ff;
            }
            @include breakpoint(768) {
                padding: 0px
            }
        }
        li:hover &-submenu {
            display: block;
        }
        &-submenu {
            z-index: 200;
            width: 95%;
            margin: auto;
            position: absolute;
            z-index: 100;
            top: 80px;
            left: 35px;
            background-color: #1b1d1f;
            display: none;
            padding-left: 100px;
            color: white;
            ul {
                padding-top: 20px;
                width: 100%;
                li {
                    padding-bottom: 20px;
                }
            }
        }
    }
    &__item {
        &-menu {
            &-button {
                display: none;
                i {
                    font-size: 25px;
                    color: black;
                    background-color: none;
                    border: none;
                }
            }
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 40px;
            color: white;
        }
    }
}

@media(max-width: 768px) {
    .header__item-menu-button {
        display: inline-block;
    }
    .header__banner-item {
        padding-bottom: 100px;
    }
}