.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    height: 90vh;
    &__text {
        text-align: center;
        &_big {
            font-size: 70px;
            color: white;
            font-weight: 600;
            @media(max-width: 768px) {
                font-size: 50px;
                color: white;
                font-weight: 500;
            }
        }
        &_logo {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 768px) {
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_under {
                width: 100px;
                height: 3px;
                background-color: white;
                @media(max-width: 768px) {
                    width: 70px;
                    height: 2px;
                    background-color: rgb(255, 255, 255);
                }
            }
            &_icon svg {
                height: 30px;
                color: white;
            }
        }
        &_small {
            font-size: 25px;
            color: white;
            font-weight: 400;
            @media(max-width: 768px) {
                font-size: 15px;
                color: white;
                font-weight: 400;
            }
        }
    }
    &__logo img {
        width: 240px;
        height: 255px;
        margin-bottom: 30px;
        display: block;
    }
}