.footer {
    background-color: #2c3e50;
    color: white;
    padding-top: 50px;
    &__item {
        text-align: center;
        &_title {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 20px;
        }
        &-description {
            padding-bottom: 40px;
            i {
                height: 45px;
                width: 45px;
                padding-top: 13px;
                margin-right: 10px;
                border-radius: 50%;
                border: 2px solid white;
                @media(min-width: 768px) {
                    margin-right: 2px;
                }
                @media(min-width: 992px) {
                    margin-right: 10px;
                }
                &:hover {
                    color: black;
                    background-color: white;
                }
            }
            a {
                color: #1abc9c;
            }
        }
    }
    &__copyright {
        background-color: #141c24;
        line-height: 50px;
        text-align: center;
        font-size: 15px;
    }
}