    .header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        background-color: #2c3e50;
        color: white;
        z-index: 1000;
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            @media(max-width: 768px) {
                height: 80px;
            }
            &_logo {
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 700;
                @media(max-width: 768px) {
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 600;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            &_menu {
                display: flex;
                justify-content: flex-end;
                font-size: 20px;
                font-weight: 600;
                &_list {
                    margin-left: 30px;
                    @media(max-width: 768px) {
                        display: none;
                    }
                }
                &_link:hover {
                    color: aquamarine;
                }
                &_button {
                    display: none;
                    @media(max-width: 768px) {
                        display: inline-block;
                    }
                }
                &_button button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #1abc9c;
                    color: white;
                    border: none;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }