.portfolio {
    padding-bottom: 50px;
    &__title {
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        margin-top: 100px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &_under {
            width: 100px;
            height: 3px;
            background-color: black;
        }
        &_icon svg {
            height: 30px;
            color: black;
        }
    }
    &__item {
        &_group {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 30px;
            &:hover .overlay {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        img {
            width: 100%;
            display: block;
            border-radius: 20px;
            @media(max-width: 768px) {
                display: block;
            }
        }
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            padding-bottom: -30px;
            background-color: rgba(19, 216, 167, 0.7);
            /* Black background with opacity */
            z-index: 90;
            svg {
                color: white;
                height: 80px;
                z-index: 100;
            }
        }
    }
}