/* 
Theme name: Start Bootstrap
Author: Thanh Phong
Version: 1.0.2
 */


/* Table of content
1, Reset Css
2, Header
3, Banner
4, Portfolio
5, About
6, Contact
7, Footer
8, Modal
 */


/* ========== 1, Reset Css ========== */

ul,
li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}


/* ========== 2, Header ========== */

.header__item_menu_list .active {
    background-color: #1abc9c;
    width: 100%;
}

.header__item_menu_list .active:hover {
    color: white;
}

@media (max-width: 768px) {
    .header__item_menu_list .active {
        background: transparent;
        color: #1abc9c;
    }
}


/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #2c3e50;
    color: white;
    z-index: 10;
    transition: all 0.5s;
}

.header__item {
    height: 100px;
}

@media only screen and (max-width: 768px) {
    .header__item {
        height: 80px;
    }
}

.header__item_logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .header__item_logo {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header__item_menu.show {
    max-height: 100vh;
    transition: 0.5s;
}

.header__item_menu {
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .header__item_menu {
        flex-direction: column;
        justify-self: start;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #2c3e50;
        line-height: 50px;
        max-height: 0;
        overflow: hidden;
        transition: .5s;
        align-items: flex-start;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 530px) {
    .header__item_menu {
        padding-left: 10px;
    }
}

.header__item_menu_list {
    margin-left: 30px;
}

@media only screen and (max-width: 768px) {
    .header__item_menu_list {
        width: 100%;
    }
}

.header__item_menu_list a {
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.header__item_menu_list a:hover {
    color: #1abc9c;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .header__item_menu_list a {
        padding: 20px;
        border-radius: 0px;
        display: inline-block;
    }
}

.header__item_menu_button {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header__item_menu_button {
        display: inline-block;
    }
}

.header__item_menu_button button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: 600;
    outline: none;
}


/* ========== 3, Banner ========== */

.banner {
    background-color: #1abc9c;
    height: 90vh;
}

.banner__text {
    text-align: center;
}

.banner__text_big {
    font-size: 70px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .banner__text_big {
        font-size: 50px;
        color: white;
        font-weight: 500;
    }
}

.banner__text_logo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .banner__text_logo {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.banner__text_logo_under {
    width: 100px;
    height: 3px;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .banner__text_logo_under {
        width: 70px;
        height: 2px;
        background-color: white;
    }
}

.banner__text_logo_icon svg {
    height: 30px;
    color: white;
}

.banner__text_small {
    font-size: 25px;
    color: white;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .banner__text_small {
        font-size: 15px;
        color: white;
        font-weight: 400;
    }
}

.banner__logo img {
    width: 240px;
    height: 255px;
    margin-bottom: 30px;
    display: block;
}


/* ========== 4, Portfolio ========== */

.portfolio {
    padding-bottom: 50px;
}

.portfolio__title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
}

.portfolio__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.portfolio__logo_under {
    width: 100px;
    height: 3px;
    background-color: black;
}

.portfolio__logo_icon svg {
    height: 30px;
    color: black;
}

.portfolio__item_group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.portfolio__item_group-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding-bottom: -30px;
    background-color: rgba(19, 216, 167, 0.7);
    z-index: 1;
}

.portfolio__item_group-overlay svg {
    color: white;
    height: 80px;
    z-index: 1;
}

.portfolio__item_group:hover .portfolio__item_group-overlay {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in-out 0s;
    -moz-transition: opacity 0.4s ease-in-out 0s;
    -o-transition: opacity 0.4s ease-in-out 0s;
    transition: opacity 0.4s ease-in-out 0s;
}

.portfolio__item img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

@media only screen and (max-width: 940px) {
    .portfolio__item img {
        display: block;
    }
}


/* ========== 5, About ========== */

.about {
    color: white;
    background-color: #1abc9c;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about__logo-under {
    width: 100px;
    height: 3px;
    background-color: white;
}

.about__logo-icon svg {
    height: 30px;
    color: white;
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__item_title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
}

.about__item_content {
    width: 65%;
    line-height: 30px;
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    .about__item_content {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .about__item_content-left {
        padding-bottom: 20px;
    }
}

.about__item-button button {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 250px;
    height: 70px;
    background-color: #1abc9c;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
}

.about__item-button button:hover {
    background-color: white;
    color: black;
}


/* ========== 6, Contact ========== */

.contact {
    padding-bottom: 100px;
}

.contact__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
}

.contact__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact__logo-under {
    width: 100px;
    height: 3px;
    background-color: black;
}

.contact__logo-icon svg {
    height: 30px;
    color: black;
}

.contact__form {
    margin: 0 auto;
}

.contact__form-item {
    width: 100%;
    display: block;
}

.contact__form-item input {
    width: 100%;
    line-height: 80px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
    .contact__form-item input {
        width: 100%;
    }
}

.contact__form-item input:focus {
    outline: none;
}

.contact__form-item textarea {
    width: 100%;
    line-height: 80px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
    .contact__form-item textarea {
        width: 100%;
    }
}

.contact__form-item textarea:focus {
    outline: none;
}

.contact__form-button button {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-color: #1abc9c;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 50px;
}

.contact__form-button button:hover {
    background-color: #19a589;
}


/* ========== 7, Footer ========== */

.footer {
    background-color: #2c3e50;
    color: white;
    padding-top: 50px;
}

.footer__item {
    text-align: center;
}

.footer__item_title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.footer__item-description {
    padding-bottom: 40px;
}

.footer__item-description i {
    height: 45px;
    width: 45px;
    padding-top: 13px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.footer__item-description i:hover {
    color: black;
    background-color: white;
}

@media only screen and (max-width: 992px) {
    .footer__item-description i {
        margin-right: 10px;
    }
}

.footer__item-description a {
    color: #1abc9c;
}

.footer__copyright {
    background-color: #141c24;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}


/* ========== 8, Modal ========== */

.modal {
    z-index: 100000;
    position: relative;
    background-color: white;
}

.modal__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
}

.modal__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal__logo-under {
    width: 100px;
    height: 3px;
    background-color: black;
}

.modal__logo-icon svg {
    height: 30px;
    color: black;
}

.modal img {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.modal p {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__close button {
    color: white;
    background-color: #1abc9c;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    outline: none;
}

.modal__close-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal__close-top button {
    outline: none;
    color: #1abc9c;
    background-color: white;
    border: none;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */


/* Add Animation */

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/*# sourceMappingURL=main.css.map */