ul,
ol {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}