.about {
    background-color: #f4623a;
    padding: 100px 0;
    color: white;
    text-align: center;
    &__item {
        &-heading {
            font-size: 35px;
            font-weight: 500;
        }
        &-under {
            width: 50px;
            height: 3px;
            background-color: white;
            margin: 30px 0;
        }
        &-desription {
            width: 70%;
            font-size: 18px;
            color: #d3d0cd;
        }
        button {
            background-color: white;
            color: black;
            border: none;
            margin: 30px 0;
            padding: 15px;
            width: 150px;
            border-radius: 30px;
            outline: none;
        }
    }
}