.banner {
    position: relative;
    background-image: url(../images/bg-masthead.jpg);
    background: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.2;
        background-color: #f4623a;
    }
    &__item {
        color: white;
        text-align: center;
        &-heading {
            @media(max-width: 768px) {
                font-size: 50px;
            }
            @media(max-width: 488px) {
                font-size: 30px;
            }
            @media(max-width: 335px) {
                font-size: 25px;
            }
            font-size: 60px;
            font-weight: 600;
            line-height: 60px;
        }
        &-under {
            margin: 30px 0;
            width: 60px;
            height: 5px;
            background-color: rgb(244, 98, 58);
        }
        &-subheading {
            @media(max-width: 768px) {
                font-size: 18px;
            }
            font-size: 22px;
            color: #d3d0cd;
        }
        button {
            margin-top: 50px;
            border: none;
            border-radius: 30px;
            width: 200px;
            height: 60px;
            background-color: rgb(244, 98, 58);
            color: white;
            font-weight: 700;
            @media(max-width: 768px) {
                padding: 10px 0;
                pading-bottom: 100px;
            }
        }
    }
}