.footer {
    padding-top: 150px;
    &__all {
        display: flex;
        justify-content: center;
        align-items: center;
        &-heading {
            font-size: 35px;
            font-weight: 500;
        }
        &-under {
            width: 60px;
            height: 3px;
            background-color: #f4623a;
            margin: 30px 0 30px 0;
        }
        &-description {
            text-align: center;
            width: 70%;
            font-size: 18px;
            color: #85827f;
            padding-bottom: 50px;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-bottom: 150px;
            &-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                @media(max-width: 767px) {
                    margin-bottom: 50px;
                }
                i {
                    color: #6c757d;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    &__bottom {
        background-color: #f8f9fa;
        padding: 50px;
        text-align: center;
    }
}