.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    @media(max-width: 768px) {
        position: sticky;
    }
    &__item {
        line-height: 70px;
    }
    &__logo {
        color: black;
        font-size: 25px;
        font-weight: 600;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 768px) {
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: white;
            line-height: 50px;
            max-height: 0;
            overflow: hidden;
            transition: .5s;
            align-items: flex-start;
            padding-left: 15px;
        }
        &-list {
            padding-left: 20px;
            &-link {
                color: black;
                font-weight: 600;
                &:hover {
                    color: #f4623a;
                }
            }
        }
        &-button {
            display: none;
            @media(max-width: 768px) {
                display: block;
            }
        }
    }
}

.show {
    max-height: 100vh;
    transition: 1s;
}