.portfolio {
    z-index: 0;
    &__item {
        position: relative;
        &:hover &-overlay {
            opacity: 1;
        }
        &-image {
            width: 100%;
            height: auto;
        }
        &-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #f4623a;
            &-text {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }
}