.service {
    padding: 100px 0;
    &__full {
        &-heading {
            font-size: 35px;
            font-weight: 500;
        }
        &-under {
            width: 60px;
            height: 3px;
            background-color: #f4623a;
            margin: 30px 0 70px 0;
        }
        &-item {
            text-align: center;
            &-icon svg {
                width: 70px;
                height: 70px;
                color: #f4623a !important;
            }
            &-heading {
                font-size: 25px;
                font-weight: 400;
            }
            &-description {
                font-size: 20px;
                color: #c0bdba;
                padding-bottom: 100px;
            }
        }
    }
}