.about {
    display: flex;
    text-align: center;
    background-color: #861dfe;
    background-image: url(../images/background_header.png);
    &__heading {
        margin: auto;
        width: 70%;
        &-title {
            font-size: 40px;
            color: white;
            padding-top: 170px;
            font-weight: 500;
        }
        &-subtitle {
            font-size: 20px;
            font-weight: 100;
            color: white;
            padding-top: 20px;
        }
    }
    &__video {
        position: relative;
        transform: translateY(25%);
        img {
            width: 100%;
        }
        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media(max-width: 768px) {
                width: 75px;
                height: 75px;
            }
        }
    }
}