.advertis {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 100px 0 50px 0;
    margin-bottom: 100px;
    z-index: 100;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 180px 0 50px 0;
    }
    &-img {
        img {
            display: block !important;
            width: 100px;
            height: 50px;
        }
    }
}

@media(max-width: 768px) {
    .advertis__item {
        padding: 50px 0 50px 0;
    }
    .advertis .advertis__item-img img {
        display: block !important;
        width: 70px;
        height: 30px;
    }
}