.header {
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    width: 100%;
    z-index: 100;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 100px;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        &-item {
            padding-left: 25px;
            padding: 20px 25px 20px 0;
            &:hover {
                cursor: pointer;
                color: #ba97ff;
            }
        }
        li:hover &-submenu {
            display: block;
        }
        &-submenu {
            width: 95%;
            margin: auto;
            position: absolute;
            z-index: 100;
            top: 80px;
            left: 35px;
            background-color: #1b1d1f;
            display: none;
            padding-left: 100px;
            color: white;
            ul {
                padding-top: 20px;
                width: 100%;
                li {
                    padding-bottom: 20px;
                }
            }
        }
    }
    &__item {
        &-menu {
            &-button {
                display: none;
                i {
                    font-size: 25px;
                    color: white;
                    background-color: none;
                    border: none;
                }
            }
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 40px;
            color: white;
        }
    }
}

@media(max-width: 768px) {
    .header__item-menu-button {
        display: inline-block;
    }
    .header__menu li {
        display: none;
    }
    .header__banner-item {
        padding-bottom: 100px;
    }
}