.quote {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
    color: white;
    background-color: #861dfe;
    background-image: url(../images/background_header.png);
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: table-cell;
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 70px;
                border-radius: 50%;
            }
        }
        &-content {
            font-size: 27px;
            font-weight: 100;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 70px;
        }
        &-author {
            font-size: 13px;
            font-weight: 100;
        }
        &__more {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding-bottom: 50px;
            i {
                padding-right: 10px;
            }
        }
    }
}