ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    display: block;
}

button {
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
}