/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */


/* 
Theme name: Mobie App
Author: Thanh Phong
Version: 1.0.2
 */


/* Table of content
1, Reset Css
2, Header
3, Banner
4, Info
5, About
6, Feature
7, Install
8, Footer
  */


/* ========== 1, Reset Css ========== */

ul,
ol {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ========== 2, Header ========== */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.header__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 22px;
    color: #0061f2;
    font-weight: 600;
}

.header__menu.show {
    max-height: 100vh;
    transition: 1s;
    z-index: 100000;
    padding-left: 60px;
}

@media only screen and (max-width: 992px) {
    .header__menu.show {
        overflow: visible;
    }
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 992px) {
    .header__menu {
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        line-height: 50px;
        max-height: 0;
        overflow: hidden;
        transition: .5s;
    }
}

.header__menu-item-icon:nth-child(2) {
    position: relative;
}

.header__menu-dropdown.show {
    max-height: 150vh;
    transition: 0.5s;
}

.header__menu-dropdown {
    position: absolute;
    top: 150%;
    right: -300%;
    width: 50rem;
    border: none;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
    padding: 0;
    overflow: hidden;
    color: #687281;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.5rem;
    z-index: 1000;
    margin: 0.25rem 0 0;
    max-height: 0;
    transition: .5s;
}

@media only screen and (max-width: 992px) {
    .header__menu-dropdown {
        top: 100%;
        left: 0;
        width: 25rem;
    }
}

@media only screen and (max-width: 518px) {
    .header__menu-dropdown {
        width: 15rem;
    }
}

@media only screen and (max-width: 320px) {
    .header__menu-dropdown {
        width: 12rem;
    }
}

.header__menu-dropdown-left {
    background-image: url(../images/dropdown.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .header__menu-dropdown-left {
        display: none;
    }
}

.header__menu-dropdown-left::before {
    background-color: #0061f2;
    opacity: 0.7;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header__menu-dropdown-left .content {
    position: absolute;
    z-index: 1000000;
}

@media only screen and (max-width: 768px) {
    .header__menu-dropdown-left .content {
        display: none;
    }
}

.header__menu-dropdown-left .content-describe {
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    padding: 0 7px;
}

.header__menu-dropdown-left .content-button .button {
    display: inline-block;
    margin-top: 10px;
    padding: 13px 30px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #0061f2;
    border-radius: 50rem;
    line-height: 1.5;
    background-color: #fff;
    border-color: #fff;
    cursor: pointer;
}

.header__menu-dropdown-left .content-button .button:hover {
    text-decoration: none;
}

.header__menu-dropdown-right .dropdown-title {
    color: #0061f2;
    padding: 0.7rem 1.5rem;
    margin-bottom: 0;
    line-height: 1.2;
    font-size: 18px;
}

.header__menu-dropdown-right .dropdown-item {
    line-height: 1.2;
    display: block;
    width: 100%;
    padding: 0.45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #1f2d41;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 16px;
}

.header__menu-dropdown-right .dropdown-item:hover {
    text-decoration: none;
}

.header__menu-dropdown-right .dropdown-divider {
    border: 0;
    height: 0;
    margin: 0.65rem 0;
    overflow: hidden;
}

.header__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

@media (max-width: 992px) {
    .header__menu-item {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

.header__menu-item-icon {
    font-size: 18px;
    font-weight: 400;
    margin-left: 35px;
    color: #7f7f7f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    .header__menu-item-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__menu-item-icon a {
    color: #7f7f7f;
}

.header__menu-item-icon a:hover {
    text-decoration: none;
    color: #7f7f7f;
}

.header__menu-item-button button {
    background-color: #0061f2;
    color: white;
    font-size: 15px;
    font-weight: 400;
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    position: relative;
    margin-left: 50px;
}

@media (max-width: 992px) {
    .header__menu-item-button button {
        padding-left: 0;
    }
}

.header__menu-bar {
    display: none;
    border: none;
    background-color: white;
}

@media (max-width: 992px) {
    .header__menu-bar {
        display: block;
    }
}


/* ========== 3, Banner ========== */

.banner {
    padding-top: 8rem;
    background-color: #0061f2;
}

.banner__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 0;
}

.banner__left-heading {
    font-size: 35px;
    color: white;
    font-weight: 400;
    padding-bottom: 20px;
}

.banner__left-subheading {
    font-size: 20px;
    font-weight: 400;
    color: #8c99ea;
    padding-bottom: 60px;
}

.banner__left-note {
    padding-top: 10px;
    font-size: 15px;
    color: #8c9aea;
}

.banner__left-logo {
    display: flex;
}

.banner__left-logo img {
    height: 3rem;
    margin-right: 20px;
}

@media (max-width: 350px) {
    .banner__left-logo img {
        height: 2.5rem;
        width: 140px;
    }
}

@media (max-width: 992px) {
    .banner__left__right {
        margin-bottom: 30px;
    }
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] {
    padding-bottom: 198.898071625%;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] {
    background-image: url(../images/portrait.png);
    z-index: initial;
}

.device-wrapper {
    max-width: 300px;
    width: 100%;
}

.device {
    position: relative;
    background-size: cover;
    height: 100px;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] .screen {
    top: 3.1855955679%;
    left: 6.8870523416%;
    width: 86.2258953168%;
    height: 93.6288088643%;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] .screen {
    z-index: -10000;
}

.device .screen {
    position: absolute;
    background-size: cover;
    pointer-events: auto;
}

.z-1 {
    z-index: 1 !important;
    position: relative !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-n15,
.my-n15 {
    margin-bottom: -9rem !important;
}

.mb-n15,
.my-n15 {
    margin-bottom: -9rem !important;
}

.screen img {
    vertical-align: middle;
    border-style: none;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black]::after {
    content: "";
    background-image: url(../images/portrait_black.png);
}

.device::after {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


/* ========== 4, Info ========== */

.info {
    padding: 100px 0;
}

.info__all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.info__item-title {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
}

.info__item-description {
    font-size: 15px;
    font-weight: 400;
    color: #697382;
}

.info__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #0061f2;
}

.info__item-icon svg {
    color: white;
}


/* ========== 5, About ========== */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 70px;
}

.about__item-logo svg {
    width: 150px;
}

.about__item-description {
    padding: 50px 0;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    color: #0061f2;
}

.about__item-name {
    font-weight: 600;
}

.about__item-subname {
    font-weight: 300;
    color: #c5ccd6;
}


/* ========== 6, Feature ========== */

.feature {
    padding: 80px 0;
    text-align: center;
    background-color: #eff3f9;
}

.feature__heading {
    font-size: 15px;
    font-weight: 500;
    color: #0061f2;
}

.feature__subheading {
    font-size: 25px;
    font-weight: 400;
}

.feature__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: 2px 2px 2px #ccc;
}

.feature__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #bfe5dc;
    margin-top: 20px;
}

.feature__item-icon svg {
    color: #00ac69;
}

.feature__item-title {
    font-weight: 400;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.feature__item-description {
    color: #687281;
    padding-bottom: 30px;
}


/* ========== 7, Install ========== */

.install {
    padding-top: 50px;
}

.install svg {
    height: 50px;
    width: 100%;
    color: #1f2d41;
}

@media (max-width: 350px) {
    .install__all {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.install__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 992px) {
    .install__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.install__logo img {
    height: 3rem;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width: 350px) {
    .install__logo img {
        height: 2.5rem;
        width: 140px;
    }
}


/* ========== 8, Footer ========== */

.footer {
    background-color: #1f2d41;
    color: #979da6;
    padding-top: 100px;
    margin-top: 0;
    border: none;
}

.footer a {
    color: #979da6;
}

.footer a:hover {
    color: #979da6;
}

.footer__top {
    padding-bottom: 50px;
    border-bottom: 1px solid #979da6;
}

.footer__top p {
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 15px;
}

.footer__top h6 {
    font-weight: 700;
    font-size: 13px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.footer__top hr {
    color: #979da6;
}

@media (max-width: 350px) {
    .footer__top ul {
        display: block;
        padding-bottom: 100px;
    }
}

.footer__bottom {
    padding: 20px 0;
}

.footer__bottom-link {
    text-align: right;
}

@media (max-width: 992px) {
    .footer__bottom-link {
        text-align: left;
    }
}

.footer__brand {
    padding-bottom: 30px;
}

.footer-head {
    font-size: 20px;
    font-weight: 700;
}


/*# sourceMappingURL=main.css.map */