.form {
    padding-top: 100px;
    padding-bottom: 300px;
    background-color: #8644de;
    &__item {
        text-align: center;
        padding-top: 200px;
        color: white;
        padding-bottom: 70px;
        &-subheading {
            font-size: 13px;
            font-weight: 500;
            padding-bottom: 20px;
        }
        &-heading {
            width: 70%;
            margin: auto;
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
        }
    }
    &__fill {
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
    input {
        width: 55%;
        height: 30px;
        padding: 20px 0 20px 5px;
        margin-bottom: 20px;
        outline: none;
        border: none;
        background-color: white;
        color: #777;
        font-weight: 500;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        button {
            text-transform: uppercase;
            width: 300px;
            height: 50px;
            border: none;
            outline: none;
            background-color: #e9168c;
            color: white;
            font-size: 15px;
            font-weight: 700;
        }
    }
    &__wave {
        position: absolute;
        left: 0;
        pointer-events: none;
        width: 100%;
        z-index: 3;
        svg {
            width: 100%;
            height: 300px;
            left: 0;
            position: absolute;
            transform: scaleX(-1);
        }
    }
}

@media(max-width:576px) {
    .form__item-heading {
        font-size: 30px;
    }
}