.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        color: white;
        padding-bottom: 30px;
        position: relative;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            padding-left: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
    &__menu {
        ul {
            margin: 0;
        }
        &-item.show {
            max-height: 100vh;
            transition: 0.5s;
        }
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            @include breakpoint(768) {
                z-index: 1000;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: black;
                color: white;
                line-height: 50px;
                max-height: 0;
                overflow: hidden;
                transition: .5s;
                padding: 0px;
            }
            &-button {
                display: none;
            }
            li {
                padding-left: 50px;
                &:hover .header__menu-item-submenu {
                    display: block;
                }
            }
            a {
                color: white;
                &:hover {
                    cursor: pointer;
                    color: #c6a5f3;
                }
            }
            &-submenu {
                width: 95%;
                margin: auto;
                position: absolute;
                z-index: 100;
                top: 80px;
                left: 35px;
                background-color: #1b1d1f;
                padding: auto;
                display: none;
                padding-left: 100px;
                ul {
                    padding-top: 20px;
                    width: 100%;
                    li {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:768px) {
    .header__menu-item-button {
        display: block;
        padding-right: 40px;
    }
    .header__icon {
        display: none;
    }
    .header__img {
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:374px) {
    .header__img {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__img img {
        width: 80%;
    }
}