/* 
Theme name: Start Bootstrap
Author: Thanh Phong
Version: 1.0.1
 */


/* Table of Content
 1, Reset Css
 2, Header
 3, Banner
 4, Portfolio
 5, About
 6, Contact
 7, Footer
  */


/* ========== 1, Reset Css ========== */

ul,
ol {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none;
}


/* ========== 2, Header ========== */

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #2c3e50;
    color: white;
    z-index: 1000;
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

@media (max-width: 768px) {
    .header__item {
        height: 80px;
    }
}

.header__item_logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .header__item_logo {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header__item_menu {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 600;
}

.header__item_menu_list {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .header__item_menu_list {
        display: none;
    }
}

.header__item_menu_link:hover {
    color: aquamarine;
}

.header__item_menu_button {
    display: none;
}

@media (max-width: 768px) {
    .header__item_menu_button {
        display: inline-block;
    }
}

.header__item_menu_button button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: 600;
}


/* ========== 3, Banner ========== */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    height: 90vh;
}

.banner__text {
    text-align: center;
}

.banner__text_big {
    font-size: 70px;
    color: white;
    font-weight: 600;
}

@media (max-width: 768px) {
    .banner__text_big {
        font-size: 50px;
        color: white;
        font-weight: 500;
    }
}

.banner__text_logo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .banner__text_logo {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.banner__text_logo_under {
    width: 100px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .banner__text_logo_under {
        width: 70px;
        height: 2px;
        background-color: white;
    }
}

.banner__text_logo_icon svg {
    height: 30px;
    color: white;
}

.banner__text_small {
    font-size: 25px;
    color: white;
    font-weight: 400;
}

@media (max-width: 768px) {
    .banner__text_small {
        font-size: 15px;
        color: white;
        font-weight: 400;
    }
}

.banner__logo img {
    width: 240px;
    height: 255px;
    margin-bottom: 30px;
    display: block;
}


/* ========== 4, Portfolio ========== */

.portfolio {
    padding-bottom: 50px;
}

.portfolio__title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
}

.portfolio__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.portfolio__logo_under {
    width: 100px;
    height: 3px;
    background-color: black;
}

.portfolio__logo_icon svg {
    height: 30px;
    color: black;
}

.portfolio__item_group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.portfolio__item_group:hover .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__item img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .portfolio__item img {
        display: block;
    }
}

.portfolio__item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding-bottom: -30px;
    background-color: rgba(19, 216, 167, 0.7);
    /* Black background with opacity */
    z-index: 90;
}

.portfolio__item .overlay svg {
    color: white;
    height: 80px;
    z-index: 100;
}


/* ========== 5, About ========== */

.about {
    color: white;
    background-color: #1abc9c;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about__logo .under {
    width: 100px;
    height: 3px;
    background-color: white;
}

.about__logo .icon svg {
    height: 30px;
    color: white;
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__item_title {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
}

.about__item_content {
    width: 65%;
    line-height: 30px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .about__item_content {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .about__item_content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about__item_content_left {
        padding-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .about__item_content_left {
        padding-bottom: 20px;
    }
}

.about__item-button button {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 250px;
    height: 70px;
    background-color: #1abc9c;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
}

.about__item-button button:hover {
    background-color: white;
    color: black;
}


/* ========== 6, Contact ========== */

.contact {
    padding-bottom: 100px;
}

.contact__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
}

.contact__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact__logo .under {
    width: 100px;
    height: 3px;
    background-color: black;
}

.contact__logo .icon svg {
    height: 30px;
    color: black;
}

.contact__form {
    margin: 0 auto;
}

.contact__form-item {
    width: 100%;
    display: block;
}

.contact__form-item input {
    width: 100%;
    line-height: 80px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
    .contact__form-item input {
        width: 100%;
    }
}

.contact__form-item input:focus {
    outline: none;
}

.contact__form-button button {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-color: #1abc9c;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 50px;
}

.contact__form-button button:hover {
    background-color: #19a589;
}


/* ========== 7, Footer ========== */

.footer {
    background-color: #2c3e50;
    color: white;
    padding-top: 50px;
}

.footer__item {
    text-align: center;
}

.footer__item_title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.footer__item-description {
    padding-bottom: 40px;
}

.footer__item-description i {
    height: 45px;
    width: 45px;
    padding-top: 13px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

@media (min-width: 768px) {
    .footer__item-description i {
        margin-right: 2px;
    }
}

@media (min-width: 992px) {
    .footer__item-description i {
        margin-right: 10px;
    }
}

.footer__item-description i:hover {
    color: black;
    background-color: white;
}

.footer__item-description a {
    color: #1abc9c;
}

.footer__copyright {
    background-color: #141c24;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}


/*# sourceMappingURL=main.css.map */