.banner {
    color: black;
    padding: 20px 0;
    &__first {
        background-image: url(../images/sample-1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        &-content {
            height: 650px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 80px;
            &-heading {
                color: #787979;
            }
            &-subheading {
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 50px;
                font-weight: 500;
                color: #253237;
            }
            &-description {
                padding-bottom: 20px;
                font-size: 21px;
                color: #787979;
            }
            button {
                width: 130px;
                height: 40px;
                color: white;
                background-color: #50b68d;
                border-radius: 25px;
                border: none;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 10px 0;
            }
        }
    }
    &__second {
        background-image: url(../images/sample-2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 650px;
        &-content {
            height: 650px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 80px;
            &-heading {
                color: #787979;
            }
            &-subheading {
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 50px;
                font-weight: 500;
                color: #253237;
            }
            &-description {
                padding-bottom: 20px;
                font-size: 21px;
                color: #787979;
            }
            button {
                width: 130px;
                height: 40px;
                color: white;
                background-color: #50b68d;
                border-radius: 25px;
                border: none;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 10px 0;
                &:hover {
                    background-color: #253237;
                }
            }
        }
    }
}