.feature {
    &__slider {
        margin: auto;
    }
    &__item {
        &-button {
            button {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: #50b68d;
                color: white;
                border: none;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
    &__title {
        font-size: 17px;
        font-weight: 600;
        color: #253237;
        padding-top: 10px;
        padding-bottom: 15px;
        &:hover {
            color: #50b68d;
            padding-bottom: 10px;
        }
    }
    &__price {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            li {
                padding-right: 20px;
            }
        }
    }
}

.feature__item .top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.feature__item .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.feature__item .sub {
    color: #787979;
    font-weight: 300;
}

.feature__item .add-to-cart {
    display: none;
    position: absolute;
    top: 70%;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
    width: 90%;
}

.feature__item:hover.add-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart:hover p,
.add-to-cart:hover i {
    color: #50b68d;
}

.feature__item .top {
    position: relative;
}

#overlays i {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.feature__item .bottom {
    position: relative;
}

.feature__item #overlays i {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.feature__item #overlays i:hover {
    background-color: #50b68d;
    color: white;
}

.feature__item:hover .top #overlays i {
    display: block;
}

.feature__item .top {
    margin-bottom: 20px;
}

.feature {
    position: relative;
}

.my-owl-nav-feature {
    position: absolute;
    top: 30px;
    right: 100px;
}

.my-owl-nav-feature span {
    background: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.my-owl-nav-feature span:hover {
    cursor: pointer;
    background-color: #50b68d;
    color: white;
}