.footer {
    position: relative;
    background-color: #efefef;
    &__left {
        margin-left: -40px;
        padding: 90px;
        background-color: #f6f6f6;
        padding-right: 40px;
        img {
            padding-bottom: 50px;
        }
        p {
            color: #787979;
            font-weight: 300;
        }
        &-phone {
            display: flex;
            padding: 40px 0;
            img {
                padding-right: 20px;
            }
            p {
                font-size: 20px;
                font-weight: 500;
                color: #253237;
            }
        }
        &-icon {
            padding-bottom: 60px;
            i {
                padding-right: 30px;
            }
        }
    }
    &heading {
        padding: 50px 0;
    }
    ul {
        padding: 0;
        li {
            color: #787979;
            font-weight: 400;
            padding-bottom: 30px;
            &:hover {
                padding-left: 20px;
                color: #50b68d;
                transition: 0.5s;
            }
        }
    }
    &__finish {
        padding-top: 80px;
        width: 90%;
    }
    &__custom {
        padding-top: 80px;
    }
    &__logo-app {
        display: flex;
        img {
            padding-right: 30px;
            width: 170px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 80px;
    }
    &__email {
        padding-bottom: 50px;
        input {
            padding: 10px 20px;
            width: 200px;
            background-color: white;
            border-radius: 20px 0px 0px 20px;
            outline: none;
        }
        button {
            text-align: center;
            padding: 10px 10px 10px 10px;
            background-color: #253237;
            color: white;
            border-radius: 0px 20px 20px 0px;
        }
    }
}

.payment {
    position: absolute;
    top: 80%;
    left: 35%;
}