.header {
    &__top {
        background-color: #253237;
        color: white;
        padding: 20px 0;
        &-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            a {
                color: white;
                &:hover {
                    color: #50b68d;
                }
            }
        }
    }
    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        &-top {
            display: flex;
            li {
                padding-left: 40px;
            }
        }
    }
    &__dropdown {
        &-top {
            ul {
                display: flex;
                width: 100%;
                padding: 0;
                li {
                    padding-left: 40px;
                    position: relative;
                    &:hover &-submenu {
                        display: flex !important;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
            &-submenu {
                display: none !important;
                position: absolute;
                top: 30px;
                left: -100px;
                padding: 10px 5px;
                background-color: white;
                z-index: 1000;
                li {
                    padding: 10px 5px;
                    display: block;
                    width: 200px;
                }
                a {
                    color: black;
                }
            }
        }
    }
    &__end {
        padding: 20px 0px 10px 0px;
        &-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left {
                display: flex;
                align-items: center;
                a {
                    color: black;
                    font-size: 18px;
                    font-weight: 600;
                    padding-right: 20px;
                    &:hover {
                        color: #50b68d;
                    }
                }
            }
            &-right {
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    padding-right: 20px;
                    &:hover {
                        color: #50b68d;
                    }
                }
            }
        }
    }
    &__search {
        padding-right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__contact {
        display: flex;
        align-items: center;
        padding-right: 20px;
        justify-content: center;
        &:hover {
            color: #50b68d;
        }
    }
    &__cart {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: #50b68d;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
    }
}