.popular {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        width: 95%;
        &-top {
            padding-bottom: 40px;
            img {
                position: relative;
                padding-bottom: 50px;
            }
            &-content {
                z-index: 1000;
                position: absolute;
                top: 5%;
                left: 5%;
                padding-bottom: 20px;
                &-heading {
                    font-size: 25px;
                }
                &-amout {
                    color: #787979;
                    font-size: 15px;
                    padding: 15px 0;
                }
                &-shop {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
        &-bottom {
            padding-bottom: 40px;
            position: relative;
            &-content {
                z-index: 100000;
                position: absolute;
                top: 5%;
                left: 5%;
                &-heading {
                    font-size: 25px;
                }
                &-amout {
                    color: #787979;
                    font-size: 15px;
                    padding: 15px 0;
                }
                &-shop {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
    }
}

.popular {
    position: relative;
}

.my-owl-nav-popular {
    position: absolute;
    top: 30px;
    right: 100px;
}

.my-owl-nav-popular span {
    background: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.my-owl-nav-popular span:hover {
    cursor: pointer;
    background-color: #50b68d;
    color: white;
}