@media(max-width: 1043px) {
    .header__end-menu-left {
        display: none;
    }
    .header__end-menu {
        justify-content: flex-end;
    }
}

@media(max-width:991px) {
    .header__row {
        font-size: 11px;
    }
    .banner__first-content-subheading {
        font-size: 30px;
    }
    .banner__first-content-description {
        font-size: 15px;
    }
    .banner__second-content-subheading {
        font-size: 30px;
    }
    .banner__second-content-description {
        font-size: 15px;
    }
    .footer__info {
        padding-top: 50px;
    }
    .payment {
        top: 95%;
        left: 52%;
    }
    .footer {
        padding-bottom: 20px;
    }
}

@media(max-width:767px) {
    .header__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header__top-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__top-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 40px;
        padding-bottom: 20px;
    }
    .header__menu-top {
        padding: 20px 0;
    }
    .service__item {
        padding-bottom: 20px;
        font-size: 13px;
    }
    .payment {
        top: 94%;
        left: 16%;
    }
    .payment img {
        width: 240px;
    }
    .footer__logo-app {
        padding-top: 20px;
    }
    .finish__email input {
        width: 150px;
    }
    .banner__area img {
        padding-bottom: 20px;
    }
    .product__item {
        width: 100%;
    }
    .feature__item {
        width: 100%;
    }
    .seller__item {
        width: 98%;
    }
    .finish {
        padding-left: 50px;
    }
    .footer__logo-app img {
        width: 140px;
    }
    .feature__custom {
        padding-left: 50px;
    }
    .feature__info {
        padding-left: 50px;
    }
}

@media(max-width:549px) {
    .phone__info {
        display: none;
    }
    .header__cart p {
        display: none;
    }
    .header__search {
        padding-right: 10px;
    }
    .footer {
        padding-bottom: 40px;
    }
    .my-owl-nav {
        right: 20px;
    }
    .my-owl-nav-popular {
        right: 20px;
    }
    .my-owl-nav-product {
        right: 20px;
    }
    .my-owl-nav-feature {
        right: 20px;
    }
    .my-owl-nav-probottom {
        right: 20px;
    }
}

@media(max-width:378px) {
    .header__search i {
        display: none;
    }
    .footer__email {
        input {
            width: 160px;
        }
    }
}