.seller {
    padding-bottom: 50px;
    &__heading {
        font-size: 25px;
        font-weight: 400;
    }
    &__subheading {
        padding: 10px 0 30px 0;
    }
    &__item {
        position: relative;
        width: 95%;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        &:hover {
            border: 1px solid #50b68d;
        }
        &:hover .add-to-cart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.5s;
        }
        &-button {
            button {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: #50b68d;
                color: white;
                border: none;
                font-weight: 600;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
        &-sub {
            color: #787979;
            font-weight: 300;
        }
    }
    &__title {
        font-size: 17px;
        font-weight: 600;
        color: #253237;
        padding-top: 10px;
        padding-bottom: 15px;
        &:hover {
            color: #50b68d;
            padding-bottom: 10px;
        }
    }
    &__price {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0;
            li {
                padding-right: 20px;
            }
        }
    }
}

.rating-product {
    padding-bottom: 15px;
    color: #fdd835;
}

.add-to-cart {
    display: none;
    position: absolute;
    top: 85%;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
    width: 85%;
}

.add-to-cart:hover p,
.add-to-cart:hover i {
    color: #50b68d;
}

#overlay i {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

#overlay i:hover {
    background-color: #50b68d;
    color: white;
}

.seller__item:hover #overlay i {
    display: block;
}

.seller {
    position: relative;
}

.my-owl-nav {
    position: absolute;
    top: 30px;
    right: 100px;
}

.my-owl-nav span {
    background: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.my-owl-nav span:hover {
    cursor: pointer;
    background-color: #50b68d;
    color: white;
}