.service {
    &__out {
        padding: 40px 0 40px 50px;
        border: 1px solid #ccc;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        img {
            padding-right: 20px;
        }
    }
}