/* 
Theme name : Start Bootstrap
Author: Thanh Phong
Version: 1.0.2
 */


/* Table of content
 1, Reset Css
 2, Header
 3, Banner
 4, About
 5, Service
 6, Portfolio
 7, COntact
 8, Footer
 */


/* ========== 1, Reset Css ========== */

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    display: block;
}

button {
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
}


/* ========== 2, Header ========== */

.header__menu-list .active {
    color: #f4623a;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
}

@media (max-width: 768px) {
    .header {
        position: sticky;
    }
}

.header__item {
    line-height: 70px;
}

.header__logo {
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .header__menu {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        line-height: 50px;
        max-height: 0;
        overflow: hidden;
        transition: .5s;
        align-items: flex-start;
        padding-left: 15px;
    }
}

.header__menu-list {
    padding-left: 20px;
}

.header__menu-list-link {
    color: black;
    font-weight: 600;
}

.header__menu-list-link:hover {
    color: #f4623a;
}

.header__menu-button {
    display: none;
}

@media (max-width: 768px) {
    .header__menu-button {
        display: block;
    }
}

.show {
    max-height: 100vh;
    transition: 1s;
}


/* ========== 3, Banner ========== */

.banner {
    position: relative;
    background-image: url(../images/bg-masthead.jpg);
    background: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-color: #f4623a;
}

.banner__item {
    color: white;
    text-align: center;
}

.banner__item-heading {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}

@media (max-width: 768px) {
    .banner__item-heading {
        font-size: 50px;
    }
}

@media (max-width: 488px) {
    .banner__item-heading {
        font-size: 30px;
    }
}

@media (max-width: 335px) {
    .banner__item-heading {
        font-size: 25px;
    }
}

.banner__item-under {
    margin: 30px 0;
    width: 60px;
    height: 5px;
    background-color: #f4623a;
}

.banner__item-subheading {
    font-size: 22px;
    color: #d3d0cd;
}

@media (max-width: 768px) {
    .banner__item-subheading {
        font-size: 18px;
    }
}

.banner__item button {
    margin-top: 50px;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    background-color: #f4623a;
    color: white;
    font-weight: 700;
}

@media (max-width: 768px) {
    .banner__item button {
        padding: 10px 0;
    }
}


/* ========== 4, About ========== */

.about {
    background-color: #f4623a;
    padding: 100px 0;
    color: white;
    text-align: center;
}

.about__item-heading {
    font-size: 35px;
    font-weight: 500;
}

.about__item-under {
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 30px 0;
}

.about__item-desription {
    width: 70%;
    font-size: 18px;
    color: #d3d0cd;
}

.about__item button {
    background-color: white;
    color: black;
    border: none;
    margin: 30px 0;
    padding: 15px;
    width: 150px;
    border-radius: 30px;
    outline: none;
}


/* ========== 5, Service ========== */

.service {
    padding: 100px 0;
}

.service__full-heading {
    font-size: 35px;
    font-weight: 500;
}

.service__full-under {
    width: 60px;
    height: 3px;
    background-color: #f4623a;
    margin: 30px 0 70px 0;
}

.service__full-item {
    text-align: center;
}

.service__full-item-icon svg {
    width: 70px;
    height: 70px;
    color: #f4623a !important;
}

.service__full-item-heading {
    font-size: 25px;
    font-weight: 400;
}

.service__full-item-description {
    font-size: 20px;
    color: #c0bdba;
    padding-bottom: 100px;
}


/* ========== 6, Portfolio ========== */

.portfolio {
    z-index: 0;
}

.portfolio__item {
    position: relative;
}

.portfolio__item:hover .portfolio__item-overlay {
    opacity: 1;
}

.portfolio__item-image {
    width: 100%;
    height: auto;
}

.portfolio__item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f4623a;
}

.portfolio__item-overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* ========== 7, Contact ========== */

.contact {
    padding: 150px 0;
    background-color: #343a40;
}

.contact__item-heading {
    color: white;
    font-size: 35px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

@media (max-width: 760px) {
    .contact__item-heading {
        font-size: 30px;
    }
}

.contact__item button {
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    outline: none;
}


/* ========== 8, Footer ========== */

.footer {
    padding-top: 150px;
}

.footer__all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__all-heading {
    font-size: 35px;
    font-weight: 500;
}

.footer__all-under {
    width: 60px;
    height: 3px;
    background-color: #f4623a;
    margin: 30px 0 30px 0;
}

.footer__all-description {
    text-align: center;
    width: 70%;
    font-size: 18px;
    color: #85827f;
    padding-bottom: 50px;
}

.footer__all-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
}

.footer__all-item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 767px) {
    .footer__all-item-icon {
        margin-bottom: 50px;
    }
}

.footer__all-item-icon i {
    color: #6c757d;
    width: 50px;
    height: 50px;
}

.footer__bottom {
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
}


/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */


/*# sourceMappingURL=main.css.map */