ul,
li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.header__item_menu_list .active {
    background-color: #1abc9c;
    width: 100%;
    &:hover {
        color: white;
    }
    @media(max-width: 768px) {
        background: transparent;
        color: #1abc9c;
    }
}