.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 70px;
        &-logo svg {
            width: 150px;
        }
        &-description {
            padding: 50px 0;
            font-weight: 400;
            font-size: 25px;
            width: 100%;
            color: #0061f2;
        }
        &-name {
            font-weight: 600;
        }
        &-subname {
            font-weight: 300;
            color: #c5ccd6;
        }
    }
}