.footer {
    background-color: #1f2d41;
    color: #979da6;
    padding-top: 100px;
    margin-top: 0;
    border: none;
    a {
        color: #979da6;
        &:hover {
            color: #979da6;
        }
    }
    &__top {
        padding-bottom: 50px;
        border-bottom: 1px solid #979da6;
        p {
            font-size: 17px;
            font-weight: 400;
            padding-top: 10px;
            margin-bottom: 15px;
        }
        h6 {
            font-weight: 700;
            font-size: 13px;
            padding-left: 40px;
            padding-bottom: 15px;
        }
        hr {
            color: #979da6;
        }
        ul {
            @media(max-width: 350px) {
                display: block;
                padding-bottom: 100px;
            }
        }
    }
    &__bottom {
        padding: 20px 0;
        &-link {
            text-align: right;
            @media(max-width: 992px) {
                text-align: left;
            }
        }
    }
    &__brand {
        padding-bottom: 30px;
    }
    &-head {
        font-size: 20px;
        font-weight: 700;
    }
}