.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    &__all {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 22px;
        color: #0061f2;
        font-weight: 600;
    }
    &__dropdown {
        display: none;
        @media(max-width: 992px) {
            display: block;
        }
        &-content {
            @media(max-width: 992px) {
                display: none;
            }
            &-item {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                &-icon {
                    font-size: 18px;
                    font-weight: 400;
                    margin-left: 35px;
                    color: #7f7f7f;
                    button {
                        background-color: #0061f2;
                        color: white;
                        font-size: 15px;
                        font-weight: 400;
                        width: 150px;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 30px;
                    }
                }
            }
        }
        &-button button svg:hover &-content {
            display: flex;
        }
        button {
            border: none;
            background-color: white;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media(max-width: 992px) {
            display: none;
        }
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 100px;
            &-icon {
                font-size: 18px;
                font-weight: 400;
                margin-left: 35px;
                color: #7f7f7f;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-button button {
            background-color: #0061f2;
            color: white;
            font-size: 15px;
            font-weight: 400;
            width: 150px;
            padding: 10px 20px;
            border: none;
            border-radius: 30px;
            position: relative;
        }
    }
}