.info {
    padding: 100px 0;
    &__all {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 50px;
        &-title {
            font-size: 20px;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        &-description {
            font-size: 15px;
            font-weight: 400;
            color: #697382;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: #0061f2;
        }
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #0061f2;
        svg {
            color: white;
        }
    }
}