.banner {
    background-image: url(../images/bg-masthead.jpg);
    width: 100%;
    height: 100vh;
    &__item {
        color: white;
        text-align: center;
        padding-top: 200px;
        &-heading {
            @media(max-width: 768px) {
                font-size: 50px;
            }
            @media(max-width: 488px) {
                font-size: 30px;
            }
            font-size: 60px;
            font-weight: 600;
            line-height: 60px;
        }
        &-under {
            margin: 30px 0;
            width: 60px;
            height: 5px;
            background-color: rgb(244, 98, 58);
        }
        &-subheading {
            @media(max-width: 768px) {
                font-size: 18px;
            }
            font-size: 22px;
            color: #d3d0cd;
        }
        &-button {
            margin-top: 50px;
            border: none;
            border-radius: 30px;
            width: 200px;
            height: 60px;
            background-color: rgb(244, 98, 58);
            color: white;
            font-weight: 700;
            @media(max-width: 768px) {
                padding: 10px 0;
                margin-bottom: 100px;
            }
        }
    }
}