.contact {
    padding: 150px 0;
    background-color: #343a40;
    &__item {
        &-heading {
            color: white;
            font-size: 35px;
            font-weight: 500;
            margin: auto;
            text-align: center;
            @media(max-width: 760px) {
                font-size: 30px;
            }
        }
        &-button {
            width: 200px;
            height: 50px;
            background-color: white;
            color: black;
            border: none;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 700;
            margin-top: 30px;
        }
    }
}