.header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &__item {
        line-height: 70px;
    }
    &__logo {
        font-size: 25px;
        font-weight: 500;
    }
    &__menu {
        @media(max-width: 768px) {
            display: none !important;
        }
        &-list {
            padding-left: 20px;
            &-link {
                color: white;
                font-weight: 500;
                &:hover {
                    color: yellow;
                }
            }
        }
        &-button {
            display: none;
            @media(max-width: 768px) {
                display: block;
            }
        }
    }
}