.about {
    color: white;
    background-color: #1abc9c;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &-under {
            width: 100px;
            height: 3px;
            background-color: white;
        }
        &-icon {
            svg {
                height: 30px;
                color: white;
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_title {
            text-align: center;
            font-size: 50px;
            font-weight: 600;
            padding-top: 100px;
        }
        &_content {
            width: 65%;
            line-height: 30px;
            font-size: 20px;
            @include breakpoint(991) {
                width: 100%;
            }
            &-left {
                @include breakpoint(991) {
                    padding-bottom: 20px;
                }
            }
        }
        &-button {
            button {
                margin-top: 50px;
                margin-bottom: 100px;
                width: 250px;
                height: 70px;
                background-color: #1abc9c;
                color: white;
                border: 2px solid white;
                border-radius: 10px;
                font-size: 20px;
                outline: none;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}