.banner {
    background-color: #1abc9c;
    height: 90vh;
    &__text {
        text-align: center;
        &_big {
            font-size: 70px;
            color: white;
            @include breakpoint(768) {
                font-size: 50px;
                color: white;
                font-weight: 500;
            }
        }
        &_logo {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @include breakpoint(768) {
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_under {
                width: 100px;
                height: 3px;
                background-color: white;
                @include breakpoint(768) {
                    width: 70px;
                    height: 2px;
                    background-color: rgb(255, 255, 255);
                }
            }
            &_icon {
                svg {
                    height: 30px;
                    color: white;
                }
            }
        }
        &_small {
            font-size: 25px;
            color: white;
            font-weight: 400;
            @include breakpoint(768) {
                font-size: 15px;
                color: white;
                font-weight: 400;
            }
        }
    }
    &__logo {
        img {
            width: 240px;
            height: 255px;
            margin-bottom: 30px;
            display: block;
        }
    }
}