.contact {
    padding-bottom: 100px;
    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        padding-top: 100px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &-under {
            width: 100px;
            height: 3px;
            background-color: black;
        }
        &-icon {
            svg {
                height: 30px;
                color: black;
            }
        }
    }
    &__form {
        margin: 0 auto;
        &-item {
            width: 100%;
            display: block;
            input {
                width: 100%;
                line-height: 80px;
                font-size: 20px;
                border: none;
                border-bottom: 1px solid #ccc;
                @include breakpoint(768) {
                    width: 100%;
                }
                &:focus {
                    outline: none;
                }
            }
            textarea {
                width: 100%;
                line-height: 80px;
                font-size: 20px;
                border: none;
                border-bottom: 1px solid #ccc;
                @include breakpoint(768) {
                    width: 100%;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        &-button {
            button {
                width: 100px;
                height: 60px;
                border-radius: 5px;
                background-color: #1abc9c;
                color: white;
                border: none;
                font-size: 20px;
                margin-top: 50px;
                &:hover {
                    background-color: #19a589;
                }
            }
        }
    }
}