.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #2c3e50;
    color: white;
    z-index: 10;
    transition: all 0.5s;
    &__item {
        height: 100px;
        @include breakpoint(768) {
            height: 80px;
        }
        &_logo {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
            @include breakpoint(768) {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &_menu.show {
            max-height: 100vh;
            transition: 0.5s;
        }
        &_menu {
            font-size: 20px;
            font-weight: 600;
            align-items: center;
            @include breakpoint(768) {
                flex-direction: column;
                justify-self: start;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #2c3e50;
                line-height: 50px;
                max-height: 0;
                overflow: hidden;
                transition: .5s;
                align-items: flex-start;
                padding-left: 15px;
            }
            @include breakpoint(530) {
                padding-left: 10px;
            }
            &_list {
                margin-left: 30px;
                @include breakpoint(768) {
                    width: 100%;
                }
                a {
                    color: white;
                    padding: 10px;
                    border-radius: 10px;
                    border: none;
                    &:hover {
                        color: #1abc9c;
                        text-decoration: none;
                    }
                    @include breakpoint(768) {
                        padding: 20px;
                        border-radius: 0px;
                        display: inline-block;
                    }
                }
            }
            &_button {
                display: none;
                @include breakpoint(768) {
                    display: inline-block;
                }
                button {
                    width: 80px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: #1abc9c;
                    color: white;
                    border: none;
                    font-size: 13px;
                    font-weight: 600;
                    outline: none;
                }
            }
        }
    }
}