.modal {
    z-index: 100000;
    position: relative;
    background-color: white;
    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        padding-top: 100px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &-under {
            width: 100px;
            height: 3px;
            background-color: black;
        }
        &-icon {
            svg {
                height: 30px;
                color: black;
            }
        }
    }
    img {
        width: 70%;
        margin: auto;
        padding-bottom: 50px;
    }
    p {
        width: 70%;
        margin: auto;
        text-align: center;
        padding-bottom: 50px;
    }
    &__close {
        button {
            color: white;
            background-color: #1abc9c;
            border: none;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 50px;
            outline: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        &-top {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                outline: none;
                color: #1abc9c;
                background-color: white;
                border: none;
            }
        }
    }
}