/* 
Theme name: Clasaic Scss
Author: Thanh Phong
Version: 1.0.1
*/


/* Table of content
1, Reset Css
2, Banner
3, Service
4, About
5, Advertise
6, Design
7, Develop
8, Quote
9, Footer
 */


/* ================== 1, Reset Css ================== */

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    display: block;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Quicksand', sans-serif;
}


/* ================== 2, Header ================== */

.header {
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    width: 100%;
    z-index: 100;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__menu-item {
    padding-left: 25px;
    padding: 20px 25px 20px 0;
}

.header__menu-item:hover {
    cursor: pointer;
    color: #ba97ff;
}

li:hover .header__menu-submenu {
    display: block;
}

.header__menu-submenu {
    width: 95%;
    margin: auto;
    position: absolute;
    z-index: 100;
    top: 80px;
    left: 35px;
    background-color: #1b1d1f;
    display: none;
    padding-left: 100px;
    color: white;
}

.header__menu-submenu ul {
    padding-top: 20px;
    width: 100%;
}

.header__menu-submenu ul li {
    padding-bottom: 20px;
}

.header__item-menu-button {
    display: none;
}

.header__item-menu-button i {
    font-size: 25px;
    color: white;
    background-color: none;
    border: none;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo svg {
    height: 40px;
    color: white;
}

@media (max-width: 768px) {
    .header__item-menu-button {
        display: inline-block;
    }
    .header__menu li {
        display: none;
    }
    .header__banner-item {
        padding-bottom: 100px;
    }
}


/* ================== 3, Banner ================== */

.banner {
    background-image: url(../images/background_header.png);
    background-color: #861dfe;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: cover;
    padding-top: 200px;
}

.banner-item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-head {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
}

.banner-heading {
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
}

.banner-subheading {
    font-size: 26px;
    font-weight: 200;
    padding-bottom: 40px;
}

.banner-button button {
    width: 170px;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 40px;
    outline: none;
    font-size: 15px;
    color: #303133;
}

.banner-button button:hover {
    color: white;
    background-color: #861dfe;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    width: 100%;
}

@media(max-width:767px) {
    .banner-item {
        text-align: center;
    }
    .banner-head {
        font-size: 20px;
    }
    .banner-heading {
        font-size: 25px;
    }
    .banner-subheading {
        font-size: 18px;
    }
    .banner-button {
        margin-bottom: 50px;
    }
}


/* ================== 4, Service================== */

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.service__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service__item-img img {
    width: 150px;
}

.service__item-title {
    font-size: 15px;
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 20px;
}

.service__item-description {
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 100;
}

@media (max-width: 768px) {
    .service__item-description {
        padding-bottom: 30px;
    }
}


/* ================== 5, About ================== */

.about {
    display: flex;
    text-align: center;
    background-color: #861dfe;
    background-image: url(../images/background_header.png);
}

.about__heading {
    margin: auto;
    width: 70%;
}

.about__heading-title {
    font-size: 40px;
    color: white;
    padding-top: 170px;
    font-weight: 500;
}

.about__heading-subtitle {
    font-size: 20px;
    font-weight: 100;
    color: white;
    padding-top: 20px;
}

.about__video {
    position: relative;
    transform: translateY(25%);
}

.about__video img {
    width: 100%;
}

.about__video i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .about__video i {
        width: 75px;
        height: 75px;
    }
}


/* ================== 6, Advertise ================== */

.advertis {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 100px 0 50px 0;
    margin-bottom: 100px;
    z-index: 100;
}

.advertis__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px 0 50px 0;
}

.advertis-img img {
    display: block !important;
    width: 100px;
    height: 50px;
}

@media (max-width: 768px) {
    .advertis__item {
        padding: 50px 0 50px 0;
    }
    .advertis .advertis__item-img img {
        display: block !important;
        width: 70px;
        height: 30px;
    }
}


/* ================== 7 Design ================== */

.design {
    padding: 100px 0;
}

.design__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.design__img img {
    width: 100%;
}

.design__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.design__item-head {
    color: #f275bb;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
}

.design__item-title {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}

.design__item-description {
    font-size: 13px;
    color: #a5a5a5;
    line-height: 25px;
    padding-bottom: 50px;
}

.design__percent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #f275bb;
    font-size: 25px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .design__item-head {
        padding: 50px 0;
    }
    .design__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


/* ================== 8, Develop ================== */

.develop {
    padding: 100px 0;
    background-color: #f7f7f7;
}

.develop__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.develop__img img {
    width: 100%;
}

.develop__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .develop__item {
        padding-bottom: 50px;
    }
}

.develop__item-head {
    color: #f275bb;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
}

.develop__item-title {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}

.develop__item-description {
    font-size: 13px;
    color: #a5a5a5;
    line-height: 25px;
    padding-bottom: 50px;
}

.develop__notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 13px;
    color: #a5a5a5;
}

@media (max-width: 768px) {
    .develop__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .develop__notice {
        margin-bottom: 50px;
    }
}


/* ================== 9, Quote ================== */

.quote {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
    color: white;
    background-color: #861dfe;
    background-image: url(../images/background_header.png);
}

.quote__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: table-cell;
}

.quote__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote__item-img img {
    width: 70px;
    border-radius: 50%;
}

.quote__item-content {
    font-size: 27px;
    font-weight: 100;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
}

.quote__item-author {
    font-size: 13px;
    font-weight: 100;
}

.quote__item__more {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 50px;
}

.quote__item__more i {
    padding-right: 10px;
}

.product {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    transform: translateY(30%);
}


/* ================== 10, Product ================== */

.product__item {
    width: 90%;
    margin: auto;
}

.product__item-price {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
}

.product__item-author {
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 30px;
}

.product__item-description {
    font-size: 13px;
    font-weight: 100;
    color: #a5a5a5;
}

.product__item-button {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__item-button button {
    width: 170px;
    height: 50px;
    border: 1px solid #f275bb;
    border-radius: 40px;
    outline: none;
    background-color: #f039a0;
    color: #ffffff;
    font-weight: 400;
}

.product__item-button button:hover {
    background-color: white;
    color: #f275bb;
}

@media (max-width: 768px) {
    .product {
        padding: 50px 0;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: white;
        transform: translateY(30%);
    }
    .product__item-price {
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    .product__item-author {
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 30px;
    }
    .product__item-description {
        font-size: 20px;
        font-weight: 300;
    }
    .product__item-button {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* ================== 11, Footer ================== */

.footer {
    padding-top: 300px;
    padding-bottom: 100px;
    background-color: #1b1d1f;
    color: white;
}

.footer__item-adress {
    width: 80%;
}

.footer__item-cus {
    width: 80%;
}

.footer__item-service {
    width: 80%;
}

.footer__item-icon {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer__item-icon i {
    width: 50px;
    padding-bottom: 20px;
}

.footer__item-desciption {
    font-size: 13px;
    font-weight: 100;
}

.footer__item-heading {
    font-size: 20px;
    padding-bottom: 50px;
}

.footer__item-list {
    color: white;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.footer__item-list ul {
    padding: 0;
}

.footer__item-list li:hover {
    color: #f275bb;
    cursor: pointer;
}

.footer__bottom {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.footer__bottom-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__bottom-icon i {
    padding-right: 30px;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
    .footer__item-adress,
    .footer__item-cus,
    .footer__item-service {
        width: 100%;
    }
    .footer__item-heading {
        padding-top: 30px;
    }
    .footer__item-icon {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__bottom-text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    .footer__bottom-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__bottom-icon i {
        padding-left: 20px;
    }
}


/*# sourceMappingURL=main.css.map */