ul,
ol {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
    display: block;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Quicksand', sans-serif;
}