    .banner {
        padding-top: 8rem;
        background-color: #0061f2;
        &__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 100px 0;
            &-heading {
                font-size: 35px;
                color: white;
                font-weight: 400;
                padding-bottom: 20px;
            }
            &-subheading {
                font-size: 20px;
                font-weight: 400;
                color: #8c99ea;
                padding-bottom: 60px;
            }
            &-note {
                padding-top: 10px;
                font-size: 15px;
                color: #8c9aea;
            }
            &-logo {
                display: flex;
                img {
                    height: 3rem;
                    margin-right: 20px;
                    @media(max-width: 350px) {
                        height: 2.5rem;
                        width: 140px;
                        
                    }
                }
            }
            &__right {
                @media(max-width: 992px) {
                    margin-bottom: 30px;
                }
            }
        }
    }