.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] {
    padding-bottom: 198.898071625%;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] {
    background-image: url(../images/portrait.png);
    z-index: initial;
}

.device-wrapper {
    max-width: 300px;
    width: 100%;
}

.device {
    position: relative;
    background-size: cover;
    height: 100px;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] .screen {
    top: 3.1855955679%;
    left: 6.8870523416%;
    width: 86.2258953168%;
    height: 93.6288088643%;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black] .screen {
    z-index: -10000;
}

.device .screen {
    position: absolute;
    background-size: cover;
    pointer-events: auto;
}

.z-1 {
    z-index: 1 !important;
    position: relative !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-n15,
.my-n15 {
    margin-bottom: -9rem !important;
}

.mb-n15,
.my-n15 {
    margin-bottom: -9rem !important;
}

.screen img {
    vertical-align: middle;
    border-style: none;
}

.device[data-device=iPhoneX][data-orientation=portrait][data-color=black]::after {
    content: "";
    background-image: url(../images/portrait_black.png);
}

.device::after {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}