.feature {
    padding: 80px 0;
    text-align: center;
    background-color: #eff3f9;
    &__heading {
        font-size: 15px;
        font-weight: 500;
        color: #0061f2;
    }
    &__subheading {
        font-size: 25px;
        font-weight: 400;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        background-color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        box-shadow: 2px 2px 2px #ccc;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: #bfe5dc;
            margin-top: 20px;
            svg {
                color: #00ac69;
            }
        }
        &-title {
            font-weight: 400;
            font-size: 20px;
            padding-top: 15px;
            padding-bottom: 10px;
        }
        &-description {
            color: #687281;
            padding-bottom: 30px;
        }
    }
}