.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    position: relative;
    &__all {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 22px;
        color: #0061f2;
        font-weight: 600;
    }
    &__menu.show {
        max-height: 100vh;
        transition: 1s;
        z-index: 100000;
        padding-left: 60px;
        @include breakpoint(992) {
            overflow: visible;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media(max-width: 992px) {
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: white;
            line-height: 50px;
            max-height: 0;
            overflow: hidden;
            transition: .5s;
        }
        &-item {
            &-icon:nth-child(2) {
                position: relative;
            }
        }
        &-dropdown.show {
            max-height: 150vh;
            transition: 0.5s;
        }
        &-dropdown {
            position: absolute;
            top: 150%;
            right: -300%;
            width: 50rem;
            border: none;
            box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
            padding: 0;
            overflow: hidden;
            color: #687281;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border-radius: 0.5rem;
            z-index: 1000;
            margin: 0.25rem 0 0;
            max-height: 0;
            transition: .5s;
            @include breakpoint(992) {
                top: 100%;
                left: 0;
                width: 25rem;
            }
            @include breakpoint(518) {
                width: 15rem;
            }
            @include breakpoint(320) {
                width: 12rem;
            }
            &-left {
                background-image: url(../images/dropdown.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                @include breakpoint(768) {
                    display: none;
                }
                &::before {
                    background-color: #0061f2;
                    opacity: 0.7;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                .content {
                    position: absolute;
                    z-index: 1000000;
                    @include breakpoint(768) {
                        display: none;
                    }
                    &-describe {
                        color: #fff;
                        font-size: 18px;
                        line-height: 29px;
                        text-align: center;
                        padding: 0 7px;
                    }
                    &-button {
                        .button {
                            display: inline-block;
                            margin-top: 10px;
                            padding: 13px 30px;
                            font-weight: 700;
                            letter-spacing: 0.15em;
                            text-transform: uppercase;
                            color: #0061f2;
                            border-radius: 50rem;
                            line-height: 1.5;
                            background-color: #fff;
                            border-color: #fff;
                            cursor: pointer;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            &-right {
                .dropdown-title {
                    color: #0061f2;
                    padding: 0.7rem 1.5rem;
                    margin-bottom: 0;
                    line-height: 1.2;
                    font-size: 18px;
                }
                .dropdown-item {
                    line-height: 1.2;
                    display: block;
                    width: 100%;
                    padding: 0.45rem 1.5rem;
                    clear: both;
                    font-weight: 400;
                    color: #1f2d41;
                    text-align: inherit;
                    white-space: nowrap;
                    background-color: transparent;
                    border: 0;
                    font-size: 16px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .dropdown-divider {
                    border: 0;
                    height: 0;
                    margin: 0.65rem 0;
                    overflow: hidden;
                }
            }
        }
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 100px;
            @media(max-width: 992px) {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
            }
            &-icon {
                font-size: 18px;
                font-weight: 400;
                margin-left: 35px;
                color: #7f7f7f;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media(max-width: 992px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                a {
                    color: #7f7f7f;
                    &:hover {
                        text-decoration: none;
                        color: #7f7f7f;
                    }
                }
            }
            &-button button {
                background-color: #0061f2;
                color: white;
                font-size: 15px;
                font-weight: 400;
                width: 150px;
                padding: 10px 20px;
                border: none;
                border-radius: 30px;
                position: relative;
                margin-left: 50px;
                @media(max-width: 992px) {
                    padding-left: 0;
                }
            }
        }
        &-bar {
            display: none;
            @media(max-width: 992px) {
                display: block;
            }
            border: none;
            background-color: white;
        }
    }
}