.install {
    padding-top: 50px;
    svg {
        height: 50px;
        width: 100%;
        color: #1f2d41;
    }
    &__all {
        @media(max-width: 350px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media(max-width: 992px) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        img {
            height: 3rem;
            margin-right: 20px;
            cursor: pointer;
            @media(max-width: 350px) {
                height: 2.5rem;
                width: 140px;
            }
        }
    }
}