.product {
    &__item {
        position: relative;
        width: 90%;
        border: 1.5px solid #ccc;
        border-radius: 10px;
        text-align: center;
        &:hover {
            border: 1.5px solid #50b68d;
        }
        &-bottom {
            padding: 35px 0;
            p {
                margin: 0;
            }
        }
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;
            li {
                margin-right: 20px;
            }
        }
    }
    &__title {
        font-size: 17px;
        font-weight: 600;
        color: #253237;
        padding-top: 10px;
        padding-bottom: 15px;
        &:hover {
            color: #50b68d;
        }
    }
}

.product__item .add-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 110%;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
    width: 100%;
}

.product__item .sub {
    color: #787979;
    font-weight: 300;
}

.product__item:hover .add-to-cart {
    cursor: pointer;
    top: 75%;
    p {
        margin: 0;
    }
}

.add-to-cart:hover p,
.add-to-cart:hover i {
    color: #50b68d;
}

#overlay i {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    z-index: 100000;
}

#overlay i:hover {
    background-color: #50b68d;
    color: white;
}

.product__item:hover #overlay i {
    display: block;
}

.probottom__slider .top {
    padding-bottom: 10px;
}

.probottom__slider .item img {
    width: 90%
}

.product {
    position: relative;
}

.my-owl-nav-product {
    position: absolute;
    top: 30px;
    right: 100px;
}

.my-owl-nav-product span {
    background: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.my-owl-nav-product span:hover {
    cursor: pointer;
    background-color: #50b68d;
    color: white;
}

.probottom {
    position: relative;
}

.my-owl-nav-probottom {
    position: absolute;
    top: 30px;
    right: 100px;
}

.my-owl-nav-probottom span {
    background: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.my-owl-nav-probottom span:hover {
    cursor: pointer;
    background-color: #50b68d;
    color: white;
}