.recently {
    padding-bottom: 70px;
    position: relative;
}

.my-owl-nav-recently {
    position: absolute;
    top: 30px;
    right: 100px;
}

.my-owl-nav-recently span {
    background: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.my-owl-nav-recently span:hover {
    cursor: pointer;
    background-color: #50b68d;
    color: white;
}