.seller {
    padding-bottom: 50px;
    &__heading {
        font-size: 25px;
        font-weight: 600;
    }
    &__subheading {
        padding: 10px 0 30px 0;
        color: #888;
    }
    &__item {
        overflow: hidden;
        position: relative;
        width: 92%;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        padding: 10px;
        &:hover {
            border: 1px solid #4fb68d;
            transition: 0.5s;
        }
        &:hover .add-to-cart {
            cursor: pointer;
            top: 85%;
            p {
                margin: 0;
            }
        }
        &-button {
            button {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: #50b68d;
                color: white;
                border: none;
                font-weight: 600;
                padding: 0px 5px;
                border-radius: 5px;
                font-size: 13px;
            }
        }
        &-sub {
            color: #787979;
            font-weight: 300;
        }
    }
    &__title {
        font-size: 17px;
        font-weight: 600;
        color: #253237;
        padding-top: 10px;
        padding-bottom: 15px;
        &:hover {
            color: #50b68d;
        }
    }
    &__price {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0;
            li {
                margin-right: 20px;
            }
        }
    }
}

.current-price {
    color: #cf2929;
}

.discount-price {
    padding: 0;
    color: white;
    background-color: #cf2929;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    padding: 0px 10px;
}

.rating-product {
    padding-bottom: 15px;
    color: #fdd835;
}

.add-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 100%;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    z-index: 1000;
    width: 85%;
    transition: all 0.5s;
    p {
        padding-bottom: 3px;
        border-bottom: 3px solid black;
        font-weight: 700;
    }
}

.add-to-cart:hover p,
.add-to-cart:hover i {
    color: #50b68d;
}

#overlay i {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

#overlay i:hover {
    background-color: #50b68d;
    color: white;
    transition: 0.5s;
}

.seller__item:hover #overlay i {
    display: block;
    transition: 0.5s ease-in-out;
}

.seller {
    position: relative;
}

.my-owl-nav {
    position: absolute;
    top: 30px;
    right: 100px;
}

.my-owl-nav span {
    background: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.my-owl-nav span:hover {
    cursor: pointer;
    background-color: #50b68d;
    color: white;
}